name: dependabot-auto-approve
on:
  pull_request_target:
    types: [opened, ready_for_review, reopened, synchronize]
permissions:
  pull-requests: write
jobs:
  approve:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: hmarr/auto-approve-action@v4
        with:
          review-message: "Auto-approve: Dependabot PR"
